@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --clr-bg-pri: #0F172A;
  --clr-bg-sec: #050d20;
  
  --clr-text-main: #ceb40f;
  --clr-text-sec: #ffffff;
  
  --clr-button-act: #0F172A;
  --clr-button-norm: #1d2741;
}



body {
    background-color: var(--clr-bg-pri);
    font-family: 'Montserrat', sans-serif;
}

/* DESKTOP */
.mobile-view {
    display: none;
}

.desktop-view .navbar {
    width: 100%;
    height: 80px;
    background: var(--clr-bg-sec);
}

.desktop-view .isim {
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}

.desktop-view .isim a {
    text-decoration: none;
    font-size: 30px;
    color: var(--clr-text-main);
}

.desktop-view ul {
    float: right;
    margin-right: 20px;
}

.desktop-view ul li {
    list-style: none;
    display: inline-block;
    margin: 0 16px;
    line-height: 80px;
}

.desktop-view ul li a {
    text-decoration: none;
    color: var(--clr-text-main);
    font-size: 20px;
    padding: 10px 13px;
    transition: 0.3s;
}

.desktop-view ul li a.active{
    background: var(--clr-button-act);
    border-radius: 12px;
}
.desktop-view ul li a:hover {
    background: var(--clr-button-norm);
    border-radius: 12px;
}

.desktop-view .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}

.desktop-view .center h1 {
    font-size: 40px;
    font-weight: 800;
    color : var(--clr-text-main);
    margin-bottom: 10px;
}

.desktop-view .center h4 {
    font-size: 20px;
    font-weight: 600;
    color: var(--clr-text-main);
}

/* MOBIL */
@media (max-width: 1080px) {
    .desktop-view {
        display: none !important;
    }

    .mobile-view {
        display: block;
    }

    .menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    }

    .menu-overlay.show {
        display: block;
    }

    .mobile-navbar {
        background: var(--clr-bg-sec);
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        position: relative;
        z-index: 1001;
    }

    .mobile-isim {
        display: inline-block;
        color: var(--clr-text-main);
        font-size: 22px;
        font-weight: bold;
    }

    .mobile-isim a {
        text-decoration: none;
        color: var(--clr-text-main);
        font-size: 22px;
        font-weight: bold;
    }

    .hamburger {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .hamburger span {
    display: block;
    width: 30px;
    height: 4px;
    background: var(--clr-text-sec);
    border-radius: 2px;
    transition: 0.3s; /*animasyon olursa lazım*/
    }

    .mobile-links {
    display: none;
    background: rgba(5, 13, 32, 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); /*Safari için lazımmış... */

    position: absolute;
    width: 100%;
    left: 0;
    top: 70px;
    flex-direction: column;
    z-index: 1000;
    }

    .mobile-links.open {
    display: flex;
    }

    .mobile-links a {
    display: block;
    color: var(--clr-text-main);
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    }

    .mobile-links a.active {
        background: var(--clr-button-act);
    }

    .mobile-center {
        padding: 80px 20px;
        text-align: center;
    }

    .mobile-center h1 {
        font-size: 30px;
        color: var(--clr-text-main);
        margin-bottom: 20px;
        line-height: 1.2;
    }

    .mobile-center p {
        font-size: 18px;
        color: var(--clr-text-main);
        line-height: 1.6;
        font-weight: 500;
    }
}