@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --clr-bg-pri: #0F172A;
  --clr-bg-sec: #050d20;
  
  --clr-text-main: #ceb40f;
  --clr-text-sec: #ffffff;
  
  --clr-button-act: #0F172A;
  --clr-button-how: #1d2741;
  --clr-button-norm: #050d20;
}


body {
    background-color: var(--clr-bg-pri);
    font-family: 'Montserrat', sans-serif;
}

/* DESKTOP */
.mobile-view {
    display: none;
}

.desktop-view .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
    background: var(--clr-bg-sec);
}

.desktop-view .isim {
    display: inline-block;
    margin: 0;
}

.desktop-view .isim a {
    text-decoration: none;
    font-size: 30px;
    color: var(--clr-text-main);
}

.desktop-view ul {
    display: flex;
    list-style: none;
    margin: 0;
}

.desktop-view ul li {
    line-height: normal;
}

.desktop-view ul li a {
    text-decoration: none;
    color: var(--clr-text-main);
    font-size: 20px;
    padding: 10px 13px;
    transition: 0.3s;
}

.desktop-view ul li a.active{
    background: var(--clr-button-act);
    border-radius: 12px;
}
.desktop-view ul li a:hover {
    background: var(--clr-button-how);
    border-radius: 12px;
}

.desktop-view .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}

.desktop-view .center h1 {
    font-size: 40px;
    font-weight: 800;
    color : var(--clr-text-main);
    margin-bottom: 10px;
    animation: fadeIn 0.5s ease;
}

.desktop-view .center h4 {
    font-size: 20px;
    font-weight: 600;
    color: var(--clr-text-main);
    animation: fadeIn 0.5s ease;
}

.project-filter-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 20px;
    width: 100%;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}

.project-filter-container::-webkit-scrollbar {
    display: none;
}

.filter-button {
    flex: 0 0 auto;
    white-space: nowrap;
    background: var(--clr-button-norm);
    color: var(--clr-text-main);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.filter-button:hover {
    background: var(--clr-button-act);
    transform: translateY(-2px); /* butonu hafif yukarı kaldırıyor */
}

.social-links {
    display: flex;
    gap: 20px;
    margin-left: auto;
    margin-right: 30px;
    padding: 0;
}

.social-links a {
    color: var(--clr-text-sec);
    font-size: 24px;
    transition: 0.3s;
    text-decoration: none;
}

.social-links-li {
    display: inline-flex !important;
    vertical-align: middle;
    margin-right: 30px;
}

.social-links a:hover {
    color: var(--clr-text-main);
    transform: scale(1.2);
}


.proje-icerik {
    display: none;
    padding: 40px 20px;
    text-align: center;
    h1 {
        margin-top: 30px;
        font-size: 20px;
        margin-bottom: 10px;
    }
    p{
        margin-top: 10px;
        font-size: 18px;
        line-height: 1.6;
        font-weight: 500;
    }
    max-width: 800px;
    margin: 0 auto;
    color: var(--clr-text-sec);
    animation: fadeIn 0.5s ease;
}

.proje-icerik.aktif {
    display: block;
}

.proje-foto {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding: 30px 0;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.proje-foto::-webkit-scrollbar { /* kaydırma çubuğunu gizlemek için */
    display: none;
}

.proje-foto img {
    flex: 0 0 auto;
    width: 85%;             /* mobilde ekranı komple kaplamaması için */
    max-width: 400px;
    border-radius: 15px;
    scroll-snap-align: center;
    object-fit: cover;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}


/* MOBIL */
@media (max-width: 1080px) {
    .desktop-view {
        display: none !important;
    }

    .mobile-view {
        display: block;
    }

    .menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    }

    .menu-overlay.show {
        display: block;
    }

    .mobile-navbar {
        background: var(--clr-bg-sec);
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        position: relative;
        z-index: 1001;
    }

    .mobile-isim {
        display: inline-block;
        color: var(--clr-text-main);
        font-size: 22px;
        font-weight: bold;
    }

    .mobile-isim a {
        text-decoration: none;
        color: var(--clr-text-main);
        font-size: 22px;
        font-weight: bold;
    }


    .hamburger {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .hamburger span {
    display: block;
    width: 30px;
    height: 4px;
    background: var(--clr-text-sec);
    border-radius: 2px;
    transition: 0.3s; /*animasyon olursa lazım*/
    }

    .mobile-links {
    display: none;
    background: rgba(5, 13, 32, 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); /*Safari için lazımmış... */

    position: absolute;
    width: 100%;
    left: 0;
    top: 70px;
    flex-direction: column;
    z-index: 1000;
    }

    .mobile-links.open {
    display: flex;
    }

    .mobile-links a {
    display: block;
    color: var(--clr-text-main);
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    }

    .mobile-links a.active {
        background: var(--clr-button-act);
    }

    .mobile-social-links {
        display: flex;
        gap: 20px;
        margin: auto;
        padding: 0;
    }

    .mobile-social-links a {
        color: var(--clr-text-sec);
        font-size: 24px;
        transition: 0.3s;
        text-decoration: none;
    }

    .mobile-social-links a:hover {
    color: var(--clr-text-main);
    transform: scale(1.2);
    }

    .mobile-center {
        padding: 80px 20px;
        text-align: center;
    }

    .mobile-center h1 {
        font-size: 30px;
        color: var(--clr-text-main);
        margin-bottom: 20px;
        line-height: 1.2;
        animation: fadeIn 0.5s ease;
    }

    .mobile-center p {
        font-size: 18px;
        color: var(--clr-text-main);
        line-height: 1.6;
        font-weight: 500;
        animation: fadeIn 0.5s ease;
    }
}