@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dynalight&family=Ephesis&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Great+Vibes&family=Imperial+Script&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+HU:wght@100..400&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: beige;
    height: 100vh;
}

.container .navbar{
    width: 100%;
    height: 80px;
    background: rgb(185, 85, 15);
}

.navbar .isim{
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}

.navbar .isim a{
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}

.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 16px;
    line-height: 80px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 13px;
    font-family: Montserrat;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background: rgb(216, 121, 52);
    border-radius: 12px;

}

.container .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: montserrat;
    user-select: none;
}

.center h1{
    font-size: 40px;
    font-weight: 1200;
    color: rgb(185, 85, 15);
    text-align: center;
}

.center h4{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: rgb(216, 121, 52);
}